NODE_ENV=
LOG_LEVEL=

API_PORT=
API_HOST=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_BASEDATOS=
DATABASE_TIMEZONE=
DATABASE_AUTH_SOURCE=

PASSWORD_PRIVATE_KEY=
PATH_PRIVATE_KEY=

SECRET_JWT_REGISTER=
SECRET_JWT=
SECRET_JWT_REFRESH=
MAX_PASS_FAILURES=
THROTTLE_TTL=
THROTTLE_LIMIT=

TZ=

HOST_METHODS=
HOST_ALLOWED_HEADERS=
HOST_CREDENTIALS=

DEFAULT_USER=
DEFAULT_PASSWORD=

FILES_DEST=
FILES_DEST_TEMP=
FILES_PATH_ROUTE=
PERCENT_FREE=
